<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-row>
    <ion-col size="12">
        <ion-segment value="desenvolvimento_sistema">
        <ion-segment-button value="desenvolvimento_sistema">
          <ion-label>desenvolvimento de Sistemas</ion-label>
        </ion-segment-button>
        <ion-segment-button value="informatica_internet">
          <ion-label>infotmatica Internet</ion-label>
        </ion-segment-button>
        <ion-segment-button value="quimica">
          <ion-label>quimica</ion-label>
        </ion-segment-button>
      </ion-segment>
      </ion-col>
    </ion-row>
</ion-content>
